.container {
    margin-top: 18vh;
    height: 70vh;
}


.auth_card {
    display: flex;
    flex-wrap: wrap;

    background-color: #ffff;
    height: 90%;
    width: 70%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.08);
    min-width: 300px;
}
.img {
    width: 50%;
    background-image: url("../Home/Carousel/images/main.png");
    background-size: cover;
}
.form_input {
    width: 50%;

    height: 100%;
}
.form_input .login_heading {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
.inputbox {
    width: 70%;
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    padding: 8px;
    margin: 10px;
    display: block;
    margin: 0 auto;
}
.options {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #717171;

    width: 75%;
    display: block;
    margin: 0 auto;
}
.remember {
    float: left;
}
.forgotpass {
    float: right;
    cursor: pointer;
}
.checkbox {
    height: 12px;
    width: 12px;
    margin: 2px;
}
a:link,
a:visited {
    color: #717171;
}
button {
    text-align: center;

    width: 75%;
    position: relative;

    margin-top: 15px;
    border: none;
    color: #ffff;
    background-color: #000;
    font-size: 16px;
    padding: 12px;
    margin: 10px;

    display: block;
    margin: 0 auto;

    cursor: pointer;
}
.rst_pwd_top {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 75%;
    display: block;
    margin: 0 auto;
}
.backArrow {
    background-image: url("Vector 2.jpg");
    width: 40px;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    margin-top: 5px;
    cursor: pointer;
}
.rst_pwd_heading {
    text-align: center;
    margin-top: 15%;
}
.btn_rst_link {
    margin-top: 40px;
}
@media only screen and (max-width: 720px) {
    .auth_card {
        height: 92%;
    }
    h1 {
        font-size: 22px;
    }

    .backArrow {
        margin-top: 2px;
        width: 15px;
        height: 20px;
        background-size: 100% 100%;
    }

    .inputbox,
    .remember,
    .forgotpass {
        font-size: 14px;
    }
    .forgotpass {
        float: right;
    }
    .forgotpass, .remember,.rst_pwd_heading,.btn_rst_link{
        color:white;
        font-weight: 700;
    }
    .checkbox {
        height: 12px;
        width: 12px;
        margin: 2px;
    }

    .img {
        height: 30%;
        width: 100%;
        background-size: 100% 100%;
        display:none;
    }
    .form_input {
        padding: 25% 0;

        background-image: url('./Rectangle\ 43.jpg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    .login_heading{
        color:white;
    }
    .options {
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .form_input .login_heading {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}
@media only screen and (max-width: 1077px) {
    @media only screen and (min-width: 722px) {
        .options {
            text-align: center;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .forgotpass {
            padding-top: 9px;
            padding-bottom: 20px;
            float: none;
        }
        .remember {
            float: none;
        }
    }
}
@media only screen and (max-width: 450px) {
    .options {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .remember {
        float: none;
    }
    .forgotpass {
        margin-top: 9px;
        float: none;
    }
}
@media only screen and (max-height: 720px) {
    .container {
        height: 500px;
    }
}
