* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullcontainer {
    height: 100%;
    max-width: min(900px, 65%);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 16px 3px #00000014;
    min-height: 550px;
    margin: 225px auto 75px;
}

.leftcontainer {
    width: 47%;
    background-image: url("../Home/Aboutus/BarakPic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rightcontainer {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textcontainer {
    width: 72%;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.form {
    font-family: "Montserrat", sans-serif;
}

.inputbox {
    width: 100%;
    font-family: inherit;
}

.inputbox {
    border: 1px solid #929292;
    padding: 12px 10px;
    height: 3.3em;
    width: 90%;
    margin-bottom: 17px;
    border-radius: 2px;
    font-size: 13.2px;
}

.textcontainer button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 25px;
    width: 90%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 1em;
    font-family: inherit;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0.5em 0;
}
.remember {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    min-width: 150px;
}

.forgotpass {
    flex: 1 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 150px;
}

@media only screen and (max-width: 850px) {
    .bottom {
        color: #fff;
    }
    .fullcontainer {
        flex-direction: column;
    }
    .leftcontainer,
    .rightcontainer {
        width: 100%;
    }
    .leftcontainer {
        height: 0;
        filter: blur(4px);
        display: none;
    }
    .heading {
        color: white;
    }
    .rightcontainer {
        height: 100%;
        min-height: 500px;
        background-image: url("../Home/Aboutus/BarakPic3.jpg");
        background-size: cover;
        background-position: center;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@media only screen and (max-width: 600px) {
    .fullcontainer {
        max-width: 65%;
    }
    .textcontainer {
        width: 80%;
    }
    .textcontainer button {
        font-size: 14.75px;
    }
    .inputbox {
        font-size: 12.5px;
    }
    .heading {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 450px) {
    .fullcontainer {
        max-width: 80%;
    }
}

@media only screen and (max-width: 370px) {
    .textcontainer button {
        font-size: 14px;
    }
    .inputbox {
        font-size: 12.25px;
    }
    .heading {
        font-size: 1.6em;
    }
    .confirmedup {
        font-size: 26px;
    }
}
