/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

.content {
    margin: 0px;
    position: relative;
    width: 100%;
    padding: 0;
    height: auto;
    height: 275px;
    margin-bottom: max(8%, 50px);
}

.content img {
    width: 275px;
    height: 275px;
    margin: auto;
}

.slide {
    margin: 0;
    opacity: 1;
}
.slide:active {
    border-width: 0px;
}
.slide {
    width: 50%;
    height: 50%;
    margin: 0;
    width: 312px;
    opacity: 1;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-size: 0px;
}

.slide:hover {
    border-width: 0px;
    transition: 0.3s;
    transform: translateY(-2%);
    font-size: 24px;
}

.arrowRight {
    position: absolute;
    right: 0.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-left: 8px;
}
.arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px;
    left: 0.5%;
    z-index: 100;
}

.arrowRight img {
    margin: 0;
    height: auto;

    width: 25px;
}
.arrowLeft img {
    margin: 0;
    height: auto;
    width: 25px;
}

.activeName {
    margin: 0;
    width: 312px;
    opacity: 1;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.noName {
    width: 0px;
    height: 0px;
    opacity: 0;
    display: none;
}
.title {
    font-family: Montserrat;
    font-style: normal;
    font-size: 4vw;
    font-weight: 500;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 6.2vw;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        padding-top: 7.6%;
        padding-bottom: 6.9%;
    }
}
